---
import { Base } from "@layouts";
import { executeQuery } from "@lib/ts/datocms";
import query from "./_index.graphql?raw";

export const getStaticPaths = () => [
  { params: { locale: "en" } },
  { params: { locale: "nl" } },
];

const { locale } = Astro.params;

const data = await executeQuery(query, { locale });
---

<Base {locale} seo={[...data.site.favIcon, ...data.page.seo]}>
  <h1>Astro</h1>
</Base>
