@font-face {
  font-family: "Dash";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/DashCasualL-Light.woff2") format("woff2");
}

body {
  font-family: "Nunito", system-ui, sans-serif;
  font-optical-sizing: auto;
}

h1 {
    font-family: "Dash", system-ui, sans-serif;
}
