@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/Nunito/Nunito-Regular.ttf") format("ttf");
}

@font-face {
  font-family: "Dash";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/Dash/Dash-Light.woff2") format("woff2");
}

body {
  font-family: "Nunito", system-ui, sans-serif;
  font-optical-sizing: auto;
}

h1 {
    font-family: "Dash", system-ui, sans-serif;
}
