:root {
  --color-bg: #0D1B2A;
  --color-text: #F5F5F2;

  --color-primary: #009DFF;

  --breakpoint-phone: 320px;
  --breakpoint-tablet: 600px;
  --breakpoint-laptop: 880px;
  --breakpoint-desktop: 1160px;
}
