---
import type { FaviconTag, SeoTag } from "@datocms/astro";

import { Seo } from "@datocms/astro";

import "../styles/a11y.css";
import "../styles/core.css";
import "../styles/reset.css";
import "../styles/typography.css";
import "../styles/variables.css";
import { Logo, Menu } from "@components";

interface Props {
  locale: string;
  favicon: FaviconTag[];
  seo: SeoTag[];
}

const { locale, favicon, seo } = Astro.props;
---

<html lang={locale}>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <Seo data={[...favicon, ...seo]} />

    <link
      rel="preload"
      as="font"
      type="font/ttf"
      href="/fonts/Nunito/Nunito-regular.ttf"
      crossorigin="anonymous"
    />
    <link
      rel="preload"
      as="font"
      type="font/woff2"
      href="/fonts/Dash/Dash-Light.woff2"
      crossorigin="anonymous"
    />
  </head>
  <body class="page">
    <header class="page__header">
      <Logo />
      <Menu />
    </header>

    <main class="page__main">
      <slot />
    </main>

    <footer class="page__footer">
      <p class="copyright">© {new Date().getFullYear()} Luuk Brauckmann</p>
    </footer>
  </body>
</html>

<style>
  .page {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
      "header"
      "main"
      "footer";
    margin-inline: auto;
    min-height: 100dvh;
  }

  @media screen and (min-width: 880px) {
    .page {
      grid-template-rows: 1fr auto;
      grid-template-columns: auto 1fr;
      grid-template-areas:
        "header main"
        "header footer";
      width: calc(65ch + 15rem);
    }
  }

  .page__header {
    display: flex;
    grid-area: header;
    justify-content: center;
    padding-block: 0.5rem;
  }

  @media screen and (min-width: 880px) {
    .page__header {
      flex-direction: column;
      justify-content: start;
      border-inline-end: 1px solid #1b263b;
      padding: 0.5rem 2rem;
      width: 15rem;
    }
  }

  .page__main {
    grid-area: main;
    max-width: 65ch;
  }

  .page__footer {
    grid-area: footer;
    background-color: #415a77;
    padding: 0.5rem 2rem;
  }

  .copyright {
    font-size: 0.5rem;
    line-height: 1;
  }
</style>
