---
import type { SeoOrFaviconTag, TitleMetaLinkTag } from "@datocms/astro";

import { Seo } from "@datocms/astro";
import "@lib/css/all.css";

interface Props {
  locale: string;
  seo: TitleMetaLinkTag[] | SeoOrFaviconTag[];
}

const { locale, seo } = Astro.props;
---

<html lang={locale}>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <Seo data={seo} />
  </head>
  <body>
    <slot />
  </body>
</html>
